body, html, main {
  height: 100%;
  width: 100%;
}
.row {
  height: calc(100% - 40px);
  overflow: scroll;
}
.col-md-6 {
  margin: 0px;
  padding: 0px;
  overflow: scroll;
  height: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
}

